@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "MyAccount", htmlAttributes: new { @title = "Log-In", @class= "navbar-brand" })
            </div>
            <ul class="nav navbar-top-links navbar-inverse navbar-right">
                @Html.Partial("_UserProfilePartial");
            </ul>

            <div class="navbar-collapse sidebar" role="navigation">
                @Html.Partial("_NavigationBarPartial")
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="pageWrapperDiv">
                @RenderBody()
                <!-- /.row -->
            </div>
        </div>

    </div>
        
    @Html.Partial("_ClassOverridePartial")
    @Scripts.Render("~/bundles/MyAccountNavigation")
    @RenderSection("scripts", required: false)
</body>
</html>
