@model IEnumerable<ProjectWit.Model.Wit_Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}

<h2>Company</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Company_UID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Company_UID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Company_UID }, new { onclick = "return confirm('Are you sure you want to delete?');" })
        </td>
    </tr>
}

</table>
