@model IEnumerable<ProjectWit.Model.Wit_Session>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}

<h2>Session Management</h2>

<br />
<table class="table">
    <tr>
        @if (ViewBag.ShowFullName)
        { 
            <th>
                User
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Browser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.ShowFullName)
        { 
            <td>
                @Html.DisplayFor(modelItem => item.Wit_User.FullName)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Browser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Session_UID })
        </td>
        <td>
            @Html.ActionLink("Terminate", "Delete", new { id = item.Session_UID }, new { onclick = "return confirm('Are you sure you want to delete this session?');" })
        </td>
    </tr>
}
</table>